
body{
    font-size: 24px;
    font-family: sans-serif ;
}

#recommendBar {
    color :green;
}

*.header_fingqooq{
    color : yellow;
}

span {
    font-size: 14px;
    color : white;
}
#menuBar {
    background-color: #313131;
    box-shadow: 0 0 7px 0 rgba(50,50,50,.45);
    z-index: 2;
    width: 136px;
    position: fixed;
    left: 15px;
    top: 15px;
}


